@using DataLayer.Entities
@model SubProject

@{
    ViewData["Title"] = "DoPrint";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}


<form action="/Employee/ManageTaskPrinting/DoPrint" class="form-horizontal" method="post" style="">

    <input type="hidden" name="Number" value="@Model.Number" />
    <input type="hidden" name="subProjectId" value="@Model.Id" />
    <input type="hidden" name="NumOfPrinting" value="@Model.NumOfPrinting" />

    <table class="table table-responsive rounded table-hover table-bordered">

        <tr>
            <td>Whole Number</td>
            <td>@Model.Number</td>
        </tr>

        <tr>
            <td>Number of done</td>
            <td>@Model.NumOfPrinting</td>
        </tr>

    </table>

    <div class="form-group mt-2">
        <label for="Number" class="control-label col-sm-12">Number <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-12">
            <input type="Number" class="form-control" required="required" name="numberOfDo" aria-describedby="numberOfDo" placeholder="numberOfDo" />
        </div>
    </div>



    <button type="submit" class="btn btn-block btn-success">Submit</button>

    <script>
        $(function () {
            $('[name="numberOfDo"]').on("keyup", function(){
                var WholeNumber = $('[name="Number"]').val();
                var NumOfPrinting = $('[name="NumOfPrinting"]').val();

                if ($(this).val() > WholeNumber - NumOfPrinting){
                    $(this).val("");
                }

            });
        });
    </script>

</form>


