@using DataLayer.Entities
@using DataLayer.SSOT


@model SubProject



@{
    ViewData["Title"] = "Bills";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    Project project = ViewBag.Project;

    Bill bill = ViewBag.Bill;
    string DivClassEachPage = Model.SubProjectType == ProjectTypeSSOT.Book ? "col-lg-4 col-md-4 col-sm-12 col-xs-12" : "col-lg-6 col-md-6 col-sm-12 col-xs-12";

}

<style>
    td:nth-child(odd) {
        color: #000;
        font-weight: 500;
    }

    fieldset.scheduler-border {
        border: 2.5px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>

<form action="/Admin/ManageSubProjectA/Bills" class="form-horizontal" method="post">
    <input type="hidden" name="Number" value="@Model.Number" />
    <input type="hidden" name="SubProjectType" value="@Model.SubProjectType" />
    <input type="hidden" name="SubProjectId" value="@Model.Id" />
    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
    <input type="hidden" name="SumPrice" value="@(bill != null ? bill.SumPrice : 0)" />
    <input type="hidden" name="Id" value="@(bill != null ? bill.Id : 0)"  />


    <fieldset class="scheduler-border">
        <legend class="scheduler-border"> Each Page Price </legend>
        <table class="table table-responsive rounded table-hover table-bordered">
            <tr>
                <td>Task Type</td>
                <td>@Model.SubProjectType</td>
                <td>Number</td>
                <td>@Model.Number</td>
                <td>Color</td>
                @*<td>@(Model.Color == DataLayer.SSOT.ColorSSOT.Colorfull ? "Colorfull" : "BlackAndWhite")</td>*@
            </tr>
            <tr>
                <td>Priority</td>
                <td>@Model.Priority</td>
                <td>Size</td>
                <td>@Model.Size</td>
                <td>PaperMaterial</td>
                <td>@Model.PaperMaterial</td>
            </tr>
            <tr>
                <td>File</td>
                <td colspan="5"><a target="_blank" href="/@Model.BookOrSeet">Show File</a></td>
            </tr>
        </table>

        <hr class="my-4">

        <div class="row">

            @if (Model.SubProjectType == DataLayer.SSOT.ProjectTypeSSOT.Book)
            {

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="BookPageNumber" class="control-label col-sm-12">Number of page <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-12">
                            <input type="text" value="@(bill != null ? bill.NumberOfPage : Model.BookPageNumber)" class="form-control seperator-input" required="required" name="NumberOfPage" aria-describedby="Number of page" placeholder="Number of page" />
                        </div>
                    </div>
                </div>
            }

            <div class="@DivClassEachPage">
                <div class="form-group">
                    <label for="Price" class="control-label col-sm-12">Each Page (fils) <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" 
                               @(bill != null ? "value=" + bill.PriceEachPage : "")
                               required="required" name="PriceEachPage" aria-describedby="PriceEachPage" placeholder="Price Each Page" />
                    </div>
                </div>
            </div>

            <div class="@DivClassEachPage">
                <div class="form-group">
                    <label for="SumPrice" class="control-label col-sm-12">Sum Price (KWD)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control seperator-input" 
                               @(bill != null ? "value=" + bill.SumPriceEachPage: "")
                               required="required" disabled name="SumPrice_Show" aria-describedby="Sum Price" placeholder="Sum Price" />
                        <input type="hidden" name="SumPriceEachPage" @(bill != null ? "value=" + bill.SumPriceEachPage: "")
                    </div>
                </div>
            </div>


        </div>
    </fieldset>


    @if (Model.SubProjectType == DataLayer.SSOT.ProjectTypeSSOT.Book)
    {
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"> Cover Price </legend>
            <table class="table table-responsive rounded table-hover table-bordered">
                <tr>
                    <td>Cover Color</td>
                    <td>@Model.BookCoverColor</td>
                    <td>Cover Material</td>
                    <td>@Model.BookCoverMaterial</td>

                </tr>
            </table>

            <hr class="my-4">


            <div class="row">
                <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">
                    <div class="form-group">
                        <label for="CoverPriceEach" class="control-label col-sm-12">Each Cover (fils) <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" required="required"
                                   @(bill != null ? "value=" + bill.PriceEachCover: "")
                                   name="PriceEachCover" aria-describedby="CoverPriceEach" placeholder="Each Cover" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">

                    <div class="form-group">
                        <label for="SumCoverPrice" class="control-label col-sm-12">Sum Cover Price </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" required="required"
                                   @(bill != null ? "value=" + bill.SumPriceEachCover: "")
                                   name="SumCoverPrice_Show" disabled aria-describedby="SumCoverPrice" placeholder="Sum Cover Price" />
                            <input type="hidden" name="SumPriceEachCover" @(bill != null ? "value=" + bill.SumPriceEachCover: "")/>
                        </div>
                    </div>

                </div>
            </div>

            




        </fieldset>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border"> Biding Price </legend>
            <table class="table table-responsive rounded table-hover table-bordered">
                <tr>
                    <td>Binding Type</td>
                    <td>@Model.BindingType</td>
                    @*@if (@Model.BindingType == DataLayer.SSOT.BindingSSOT.Stapler)
                    {
                        <td>Binding Number</td>
                        <td>@Model.BindingNumber</td>
                    }*@

                </tr>
            </table>

            <hr class="my-4">




            <div class="form-group">
                <label for="BindingPrice" class="control-label col-sm-12">Binding Price (fils) <i class="text-danger fa fa-star size-8"></i></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" required="required" name="BindingPrice" aria-describedby="BindingPrice" placeholder="Binding Price" />
                </div>
            </div>




        </fieldset>
    }


    @if (!string.IsNullOrEmpty(project.Address))
    {

        <fieldset class="scheduler-border">
            <legend class="scheduler-border"> Delivery Price </legend>

            <table class="table table-responsive rounded table-hover table-bordered">
                <tr>
                    <td>Address</td>
                    <td>@project.Address</td>
                    
                </tr>
            </table>

            <hr class="my-4">


            <div class="form-group">
                <label for="DeliveryPrice" class="control-label col-sm-12">Delivery Price (KWD) <i class="text-danger fa fa-star size-8"></i></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control"
                           @(bill != null ? "value=" + bill.PriceDelivery: "")
                           required="required" name="PriceDelivery" aria-describedby="Delivery Price" placeholder="Delivery Price" />
                </div>
            </div>



        </fieldset>

    }

    <button type="submit" class="btn btn-block btn-success" id="sbtForm">Submit</button>


    <script>
        $(function () {
            $("[name='SumPriceEachPage']").simpleMoneyFormat();
        });
        $("[name='SumPriceEachPage']").simpleMoneyFormat();

        $('[name="NumberOfPage"]').on("keyup", function () {
            if ($('[name="PriceEachPage"]').val() != "")
                BookOrSheetPriceEachPage();
        });


        $("[name='PriceEachPage']").on("keyup", function () {
            $("[name='SumPriceEachPage']").simpleMoneyFormat();
            BookOrSheetPriceEachPage();

        });

        function BookOrSheetPriceEachPage() {
            var Number = $('[name="Number"]').val();
            var PriceEachPage = $("[name='PriceEachPage']").val();
            var SumPriceEachPage = 0;


            if ($('[name="SubProjectType"]').val() == "Book") {
                var PageNumber = $('[name="NumberOfPage"]').val();

                if (PageNumber != 0 && PageNumber != "") {

                    SumPriceEachPage = Number * PriceEachPage * PageNumber;

                    if (SumPriceEachPage > 1000) {
                        SumPriceEachPage = SumPriceEachPage / 1000;
                    }

                }

            }
            else {
                SumPriceEachPage = Number * PriceEachPage;
            }



            $('[name="SumPrice_Show"]').val(SumPriceEachPage);
            $('[name="SumPriceEachPage"]').val(SumPriceEachPage);
            SumPriceEnd();
        }



        $('[name="PriceEachCover"]').on("keyup", function () {
            CoverPrice();
        });

        function CoverPrice() {
            var PriceEachCover = $('[name="PriceEachCover"]').val();
            var Number = $('[name="Number"]').val();

            var Sum = PriceEachCover * Number;
            if (Sum > 1000) {
                Sum = Sum / 1000;
            }


            $('[name="SumPriceEachCover"]').val(Sum);
            $('[name="SumCoverPrice_Show"]').val(Sum);
            SumPriceEnd();
        }

        $('[name="PriceDelivery"]').on("keyup", function () {
            SumPriceEnd();
        });


        function SumPriceEnd() {
            var SumPriceEachCover = parseFloat($('[name="SumPriceEachCover"]').val());
            console.log("SumPriceEachCover => ", SumPriceEachCover);

            var SumPriceEachPage = parseFloat($('[name="SumPriceEachPage"]').val());
            console.log("SumPriceEachPage => ", SumPriceEachPage);

            var PriceDelivery = parseFloat($('[name="PriceDelivery"]').val());
            console.log("PriceDelivery => ", PriceDelivery);

            var sum = 0;

            if (SumPriceEachCover + "" != "NaN")
                sum += SumPriceEachCover;

            if (SumPriceEachPage + "" != "NaN")
                sum += SumPriceEachPage;

            if (PriceDelivery + "" != "NaN")
                sum += PriceDelivery;

            console.log("sum => ", sum);
            $('[name="SumPrice"]').val(sum);
        }


    </script>
</form>