@using DataLayer.DTO.UserDTO
@using DataLayer.DTO.Organizations

@{
    Layout = null;
    List<UserIdTitleDTO> users = ViewBag.Users;
    List<OrganizationIdTitleDTO> organization = ViewBag.Organization;
}


<form id="frm" action="/Organization/ManageUserOrganization/Insert" class="form-horizontal" method="post" style="">

    <div class="form-group">
        <label for="OrganizationId" class="control-label col-sm-4">Organization <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-12">
            <select class="js-example-basic-single" name="OrganizationId">
                <option value="">Please Choose ...</option>
                @foreach (OrganizationIdTitleDTO item in organization)
                {
                    <option value="@item.Id">@item.OrganizationTitle</option>

                }

            </select>
        </div>
    </div>


    <div class="form-group">
        <label for="UserId" class="control-label col-sm-4">User <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-12">
            <select class="js-example-basic-single" name="UserId">
                <option value="">Please Choose ...</option>
                @foreach (UserIdTitleDTO item in users)
                {
                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                }

            </select>
        </div>
    </div>


    <button type="submit" class="btn btn-block btn-success" id="sbtForm">Submit</button>

<script>
    $(function (){
    $('.js-example-basic-single').select2();
});
</script>

</form>
